node_modules/*
package.json
.idea/*
package-lock.json
egui-project-react/wwwroot/lib/bootstrap/CHANGELOG.md
egui-project-react/wwwroot/lib/bootstrap/Gemfile
egui-project-react/wwwroot/lib/bootstrap/Gemfile.lock
egui-project-react/wwwroot/lib/bootstrap/Gruntfile.js
egui-project-react/wwwroot/lib/bootstrap/ISSUE_TEMPLATE.md
egui-project-react/wwwroot/lib/bootstrap/README.md
egui-project-react/wwwroot/lib/bootstrap/bower.json
egui-project-react/wwwroot/lib/bootstrap/dist/fonts/
egui-project-react/wwwroot/lib/bootstrap/fonts/
egui-project-react/wwwroot/lib/bootstrap/grunt/
egui-project-react/wwwroot/lib/bootstrap/js/
egui-project-react/wwwroot/lib/bootstrap/less/
egui-project-react/wwwroot/lib/bootstrap/nuget/
egui-project-react/wwwroot/lib/bootstrap/package.js
egui-project-react/wwwroot/lib/jquery/AUTHORS.txt
egui-project-react/wwwroot/lib/jquery/README.md
egui-project-react/wwwroot/lib/jquery/bower.json
egui-project-react/wwwroot/lib/jquery/external/
egui-project-react/wwwroot/lib/jquery/src/
egui-project-react.sln.DotSettings.user
egui-project-react/.vscode/
egui-project-react/bin/
egui-project-react/obj/
egui-project-react/appsettings.json
egui-project-react/data/dane1copy.csv
egui-project-react/egui-project-react.csproj
egui-project-react/package.json
egui-project-react/wwwroot/css/site.css
egui-project-react/wwwroot/lib/bootstrap/LICENSE
egui-project-react/wwwroot/lib/bootstrap/dist/css/bootstrap.css
egui-project-react/wwwroot/lib/jquery/LICENSE.txt
package.json
egui-project-react/Properties/launchSettings.json
egui-project-react/node_modules
egui-project-react/data
egui-project-react/wwwroot/lib
egui-project-react/wwwroot/cs
egui-project-react/wwwroot/favicon.ico
egui-project-react/*.json
egui-project-react/Views/*.cshtml
egui-project-react/Views/Shared
egui-project-react/Views/Home/Privacy.cshtml
egui-project-react/Properites

