<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My First React Example</title>
  </head>
  <body>
        <div id="container"></div>
        <script src="https://fb.me/react-15.0.0.js"></script>
        <script src="https://fb.me/react-dom-15.0.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
          .filters {
            font-weight: bold;
            font-size: 30px;
          }
          .tableStyle {
            max-height: 400px;
            overflow: auto;
          }
        </style>
  <script type="text/babel">

const testData = [
    {name: "Dan Abramov", avatar_url: "https://avatars0.githubusercontent.com/u/810438?v=4", company: "Facebook"},
    {name: "Sophie Alpert", avatar_url: "https://avatars2.githubusercontent.com/u/6820?v=4", company: "Humu"},
    {name: "Sebastian Markbåge", avatar_url: "https://avatars2.githubusercontent.com/u/63648?v=4", company: "Facebook"},
];

class Card extends React.Component{
  constructor(props){
    super(props)
  }
  render() {
    return(
      <tr>
        <th scope="row">
          <div className="form-check">
            <input className="form-check-input" type="checkbox" value="" id="defaultCheck1"/>
            <label className="form-check-label" for="defaultCheck1">
              Default checkbox
            </label>
          </div>
        </th>
        <td>{this.props.author}</td>
        <td>{this.props.title}</td>
        <td> {this.props.year}</td>
      </tr>
    );
  }
}

class App extends React.Component{
  constructor(props){
      super(props);
      this.state = {
      profiles: testData,
      books: [],
      filters: {
        title: "",
        author: "",
        year: ""
      }
    };    
  }

 componentDidMount() {
    axios.get('/Home/List')
      .then(response => this.setState({ books: JSON.parse(JSON.stringify(response.data.books)) }))
  }
  getBooksList() {
    return (
      <div className="card m-3 p-3 tableStyle">
        <table className="table">
          <thead>
            <tr>
              <th scope="col">Selected</th>
              <th scope="col">Author</th>
              <th scope="col">Title</th>
              <th scope="col">Year</th>
            </tr>
          </thead>
          <tbody>
            {this.state.books.map((book,index) => (
                <Card 
                  key={index}
                  author={book.author}
                  title={book.title}
                  year={book.year}
                />
            ))}
          </tbody>
        
        </table>
      </div>
    )
  }
  doClear() {
    this.setState({filters: {
      title: "",
      author: "",
      year: ""
    }})
  }
  addBook () {
    axios({
        method: 'post',
        url: '/Home/Create',
        data: {
            "Author": 'author',
            "Title": 'title',
            "Year": '124',
        }
    })
    .then(response => {
        console.log("success!")
    })
    .catch(error => console.log('error'))
  }
  render() {
    return (
      <div className="container">
        <div className="card my-5">
          <div className="card m-3 p-3">
            <span className="filters">Filters:</span>
            <div className="row">
              <div className="col-4">
                <div className="form-group">
                  <label for="formGroupExampleInput">Author</label>
                  <input type="text" className="form-control" id="formGroupExampleInput" placeholder="Example input"/>
                </div>
              </div>
              <div className="col-4">
                <div className="form-group">
                  <label for="formGroupExampleInput2">Title</label>
                  <input type="text" className="form-control" id="formGroupExampleInput2" placeholder="Another input"/>
                </div>
              </div>
              <div className="col-2">
                <div className="form-group">
                  <label for="formGroupExampleInput2">Year</label>
                  <input type="text" className="form-control" id="formGroupExampleInput2" placeholder="Another input"/>
                </div>
              </div>
              <div className="col-2">
                <label for="buttonClear">&nbsp;</label>
                <button className="form-control" id="buttonClear" onClick={this.doClear}>
                Clear
                </button>
              </div>
            </div>
          </div>
          {this.getBooksList()}
          <div className="row mt-3">
            <div className="col-4">
              <button type="button" className="btn btn-primary m-3" data-toggle="modal" data-target="#exampleModal">
                Add Book
              </button>
            </div>
          </div>

          <div className="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div className="modal-dialog" role="document">
              <div className="modal-content">
                <div className="modal-header">
                  <h5 className="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" className="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div className="modal-body">
                  ...
                </div>
                <div className="modal-footer">
                  <button type="button" className="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" className="btn btn-primary" data-dismiss="modal" onClick={this.addBook}>Create</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    )
  }
}

ReactDOM.render(
  <App title="The github cards app"/>,
  container,
);



  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>


